<div class = "container">
	<div class = "row">

		<div class = "row">
			<div class = "col-xs-12 col-lg-12">
				<img class = "img-responsive head_space" src ="/images/header.svg" alt="Hannah Nordgren, Full Stack Designer" width = "950" />
			</div>
		</div>
	<div class="clearfix visible-xs"></div>
		<div class = "row">
			<div class = "col-xs-12 col-md-6">
				<h1 class = "top_space">The elevator pitch.</h1>
					<p class = "top_space">I am currently a fellow at The Flatiron School studying Full Stack Ruby Development.   Previously I went to art school (Pratt ‘00) and worked many years in the fashion and beauty industries before starting to code.  </p>
					<p>I love making beautiful sites and applications for interesting people in interesting companies.  To the right is some of the work that I’m most proud of.  Below are the links to my profiles as well as an envelope to get in touch.</p>
					<span> 
						<a href = "http://www.linkedin.com/in/hannahnordgren" target="_blank"><i class="fa fa-linkedin fa-3x right_space top_space"></i></a>
						<a href = "https://github.com/ninjaofawesome" target="_blank"><i class="fa fa-github-alt fa-3x right_space top_space"></i></a>
						<a href = "http://www.behance.net/ninjaofawesome" target="_blank"><i class="fa fa-bold fa-2x right_space top_space"></i></a>
						<a href = "http://www.anunorderedlistapart.tumblr.com/" target="_blank"><i class="fa fa-tumblr fa-2x right_space top_space"></i></a>
						<a href = "mailto:hey@hereshannahs.info?subject=Hello!" target="_blank"><i class="fa fa-envelope fa-2x right_space top_space"></i></a>
					</span>

			</div>

			<div class="clearfix visible-xs"></div>

			<div class = "col-xs-12 col-md-6">
				<h1 class = "top_space">The Goods.</h1>
					<h3 class = "top_space_mini column_space">Flatiron Work</h3>
						<ul class = "no_dot column_space">
							<li class = "big_and_bold"><a href ="http://east-coast-west-coast.herokuapp.com/" target="_blank">East Coast, West Coast</a></li>
							<li class = "big_and_bold"><a href ="https://github.com/ninjaofawesome/project_folder/tree/master/sinatra_playlist" target="_blank">Playlister</a></li>
							<li class = "big_and_bold"><a href ="https://github.com/ninjaofawesome/project_folder/tree/master/airport" target="_blank">Airport</a></li>
							<li class = "big_and_bold"><a href ="https://github.com/ninjaofawesome/portfolio" target="_blank">This.</a></li>
						</ul>
						<h3 class = "top_space_itty_bitty column_space">Pre-Flatiron Work</h3>
						<ul class = "no_dot column_space">
							<li class = "big_and_bold"><a href ="http://hereshannahs.info" target="_blank">Portfolio</a></li>
							<li class = "big_and_bold"><a href ="http://www.amyvandoran.com/" target="_blank">Amy Van Doran</a></li>
						</ul>

						<div class="clearfix visible-xs"></div>

			</div>

		</div>





	</div>
</div><!--this is the end of the container